body {
    margin: 0;
    /*background-color: #000;*/
}

.startBox {
    font-family: 'Monserrat', sans-serif;
    height: 70vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
       }

   .startBox:after {
    content: '';
    position: absolute;
    background-image: url(../images/headerPortfolio.png);
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(5px);
    /*filter: brightness(80%);*/
   }

.startBox-nav,
.startBox-info {
    display: flex;
}


.startBox-nav {
    height: 10vh;
    align-content: center;
    justify-content: flex-end;
    margin-right: 10%;
}

.startBox-nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.startBox-nav-ul-li {
    color: #fff;
    transition: all 0.3s ease;
    font-weight: 600; 
}

.startBox-nav-ul-li:hover {
    color: #35c8f9;
    cursor: pointer;
}

.startBox-info {
    height: 60vh;
    flex-direction: column;
    justify-content: center; /*alinea en vertical*/
    align-items: center; /*alinea en horizontal*/
}
/*
.startBox-info-imageBox {
    width: 150px;
    height: 150px;
    overflow: hidden; para hacer un marco que no deje ver lo que se sale de el
    /*border-radius: 85%;
}
*/
.startBox-info-image {
    /*margin: 70px 0 0 -37px;*/
    width: 120px;
    height: 120px;
    /*transform: scale(1.3);*/
    border-radius: 200px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(89,86,89,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(89,86,89,1);
    box-shadow: 3px 4px 5px 0px rgba(89,86,89,1);
    
}

.startBox-info-name,
.startBox-info-carrer,
.startBox-info-develop {
    color: #fff;
}

.startBox-info-name {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 24px;
}

.startBox-info-carrer {
    margin: 5px 0 5px 0;
    font-size: 18px;
    font-weight: 100;
}

.startBox-info-develop {
    border: 3px solid #fff;
    padding: 8px;
    width: 300px;
    height: 25px;
    border-radius: 12px;
    /*text-align: center;*/
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin:  15px 0 20px 0;
}

.startBox-info-contactButton {
    
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 216px;
    background-color: #35c8f9;
    color: #fff;
    font-size: 22px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}
/*about me section*/
.aboutMe {
    background-color: #35c8f9;
    height: 30vh;
    font-family: 'Monserrat', sans-serif;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMe-title {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.aboutMe-description {
    color: #fff;
    text-align: center;
    padding: 0 10% 0 10%;
    font-size: 18px;
}
/*portfolio section*/

.portfolio-box-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Monserrat', sans-serif;

}

.portfolio-box-titles-portfolio {
    color: #35c8f9;
    font-size: 24px;
    font-weight: 600;
    margin: 5% 0 0 0;
}
.portfolio-box-titles-jobs {
    color: #9b9b9b;
    font-size: 18px;
    margin-top: 8;
}

.portfolio-box-images {
    display: flex;
    padding: 0 10% 0 10%;
    justify-content: space-between;
}

.portfolio-box-image {
    position: relative;
    float: left; /*floatan a la izquierda y se vuelven de la misma altura*/
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.portfolio-box-images-imagesBox {
    position: relative;
    font-family: 'Monserrat', sans-serif;
    color: #fff;
    
}

.portfolio-box-images-imagesBox:hover .overlay{
    /*cuando se haga hover se active .overlay*/
    opacity: 1;
}

.overlay {
    position: absolute;
    /*top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: #35c8f9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.overlay > div > h4,
.overlay > div > p {
    font-size: 24px;
}

/*sin el > es lo mismo*/

.overlay  div  button {
    /*border: none;*/
    border-radius: 20px;
    width: 180px;
    height: 38px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Monserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;

}